:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;

    /* Animation */

    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    
}

ul {
    list-style: none;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

input {
    outline: 0;
}

/* main-nav */
.main-nav {
    display: flex;
    align-items: center;    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container ul {
    padding: 0;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}


/* logo */

.nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}

.nav-logo {
    color: #000000;
}



/* nav-list contact-list*/


.nav-list {
    display: flex;

    margin: 0;
    padding: 0;
    margin-left: 93px;

}

.nav-list .item + .item {
    margin-left: 50px;
}


.nav-list .link {
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color var(--anim);
    
}

.nav-list .activ {
    position: relative;
    color:#2196F3;
    
    
}

.nav-list .activ::after {
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
    display: block; 
    
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -1px;
}

.nav-list .link:hover,
.nav-list .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
    color: var(--accent-color);
}


/* Contacts */
.contact-list {
    display: flex;
    margin-left: auto;
    padding: 0;

}
.contact-list .item + .item {
    margin-left: 50px;
}


.contact-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color var(--anim);
    
}

.contact-list .link {
    display: flex;
    align-items: center;
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;

}

.phone-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */
.hero {
    
    max-height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/icons/Img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
       
    
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    

    text-transform: uppercase;
    }

.hero-button {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    

    color: #FFFFFF;
    background-color: var(--accent-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;

    transition: background-color var(--anim);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;

}


/* section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-top: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
    margin-top: 0;
    
}

.feature-list .item {
    width: 270px;
}
.feature-list .item + .item {
    margin-left: 30px;
}

/* icons */


.icon-antena::before {
    background-image: url(../images/icons/antenna.svg);

}

.icon-clock::before {
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}
.feature-list .item::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;

    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;


}

.icon-antena::before {
    background-image: url(../images/icons/antenna.svg);

}

.icon-clock::before {
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.activity-list {
    display: flex;
}

.activity-list .item {
    display: flex;
    position: relative;
}

.activity-text {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8)
}

.activity-list .item + .item {
    margin-left: 30px;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.command{
    background-color: #F5F4FA;
}
.command-title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.our-command {
    padding-top: 30px;
    padding-bottom: 30px;
}
.command-list {
    display: flex;
}

.command-list .item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
}

.command-list .item + .item {
    margin-left: 30px;
}

.command-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;  
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}


/* clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color var(--anim), border var(--anim), box-shadow var(--anim);
    
}

.clients-link:hover,
.clients-link:focus
 {
    color: #2196F3;
    border: 1px solid #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.client-icons {
    fill: currentColor;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}



/* social icons */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: #FFFFFF;

    border-radius: 50%;

    transition: background-color var(--anim);
}

.social-link:hover,
.social-link:focus {
    background-color: #2196F3;

}


.socials-items:not(:last-child) {
    margin-right: 10px;
}

.social-icons {
    fill: #AFB1B8;
    transition: fill var(--anim);
}

.social-link:hover .social-icons,
.social-link:focus .social-icons {
    fill: #FFFFFF;

}



/* Подвал */
.address {
    margin-bottom: 9px;
    color: #FFFFFF;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.logo-down {
    color: #FFFFFF;
      
}

.container .logo {
    display: block;
}
.container .vault {
    margin-bottom: 20px;
}

.div-footer {
    display: flex;
    align-items: baseline;
    
    
    
 }

.footer-link {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;

    text-decoration: none;

    transition: color var(--anim);
    
}
.footer-item:nth-last-child(2) {
    margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
    

}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


.contact {
    margin-right: auto;
}

.join {
    margin-right: auto;
}

.join-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
    color: #FFFFFF;
}

.join-list {
    display: flex;
    align-items: center;
}
.join-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 50%;

    transition: background-color var(--anim);
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-icons {
    fill: #FFFFFF;
}

.join-link:hover,
.join-link:focus {
    background-color: #2196F3;
}

.sub{
    
    margin: 0;
    padding: 0;
}

.sub-form {
    display: flex;
}
.sub-title {
    display: block;
    margin: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.mail-name {
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color:#2F303A;
    color: rgba(255, 255, 255, 0.6);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.sub-button {
    padding: 10px 28px;
       
    
    background: #2196F3;
    border-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
    border: 0px; 
    
    cursor: pointer;
}

.btn-telegram {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.icon-telegram {
    fill: currentColor;
    margin-left: 10px;

    
}


/* Портфолио */
.filtr {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-list {
    display: flex;
    justify-content:center;

    margin-bottom: 50px;
}
.main-list .item + .item {
    margin-left: 8px;
}

.filtr-button {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--title-text-color);
    font-family: inherit;
    
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    cursor: pointer;

    transition: background-color var(--anim),
    color var(--anim);
}

.filtr-button:hover,
.filtr-button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
 
.filtr-link {
    text-decoration: none;
    display: inline-block;
    
    transition: box-shadow var(--anim);
}

.filtr-link:hover,
.filtr-link:focus
 {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%),
    0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}


.portfolio {
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

}


.filtr-title {
    margin-top: 0; 
    margin-bottom: 4px;
    

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.filtr-list {
    display: flex;
    flex-wrap: wrap;
    
}

.filtr-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;

}


.filtr-list .item:nth-child(3n) {
    margin-right: 0;
}

.filtr-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}


.filtr-text {
    margin: 0;
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card-filtr {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--anim);

}

.text-overlay {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}


.filtr-link:hover .overlay,
.filtr-link:focus .overlay
 {
    transform: translateY(0);
    
}



/* Modal form */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;

    transition: opacity var(--anim), visibility var(--anim)

}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal-wrapper {
    transform: scale(0.4);
    opacity: 0;
}

.backdrop.modal-wrapper {
    transform: scale(1);
    opacity: 1;
}

.modal-wrapper {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    
    transition: transform var(--anim), opacity var(--anim);
}



.modal-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
}
.modal-btn:focus,
.modal-btn:hover {
    color: #188CE8;
}

.icon-close {
    fill: currentColor;
}

.contact-form {
    margin: 0;
    text-align: start;
    width: 448px;
    
}
.form-title {
    display: block;
    margin: 0;
    padding-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}


.form {
    display: block;
    
 
}
.form-group {
    display: block;
    margin-bottom: 10px;
}
.form-group:focus-within .form-icons{
    color: #2196F3;
}

.form-block {
    display: block;
    position: relative;
    color: var(--title-text-color);
    
}

.form-icons {
    position: absolute;
    top: 50%;
    left: 12px;
    color: var(--title-text-color);
    fill: currentColor;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px 11px 40px;
    
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus {
    border-color: #2196F3;
}


textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
    border-color: #2196F3;

}


textarea::placeholder {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16x;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.term {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.term-var {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: underline;

}

.send {
    text-align: center;
    
}
.button-contract { 
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196F3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    cursor: pointer;

}

.policy {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.mark {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;

    border-radius: 2px;
    outline: 2px solid #212121;
    outline-offset: -2px;  

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;


}



.checkbox:checked + .mark {
    background-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    fill: #FFFFFF;
    
}

.checkbox:hover+.mark,
.checkbox:focus+.mark {
    outline: 2px solid var(--accent-color);
}


.deal-icons {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .mark .deal-icons {
    opacity: 1;

}